body {
    background-color: deeppink;
}

h1 {
    color: white; 
    text-align: center;
    font-size: 35px;
}

.main-container {
    text-align: center;
    color: white;
    font-size: 20px;
}

.text-container {
    text-align: right;
}

p {
    color: white;
}

.white-text {
    color: white; 
    text-align: center;
    font-size: 35px;
}

.kizaru-image {
    max-width: 500px; 
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.monke-gif {
    max-width: 500px; 
    max-height: 500px;
    width: 100%;
    height: 100%;
}